<!DOCTYPE html>
<html>
  <head>
    <title>Verdandi - Schedule {{ schedule.name }}</title>
  </head>
  <body>
    <h1>Schedule: {{ schedule.name }}</h1>
    <h3>Date: {{ schedule.date }}</h3>
    <h2>Schedule</h2>
    <table>
      <tr>
        <th>Start</th>
        <th>End</th>
        <th>Name</th>
      </tr>
      {% for event in schedule.events %}
      <tr>
        <td>{{ event.start_time }}</td>
        <td>{{ event.end_time }}</td>
        <td>{{ event.name }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
