<!DOCTYPE html>
<html>
  <head>
    <title>
      Verdandi - Schedules
    </title>
  </head>
  <body>
    <h1>
      Schedules
    </h1>
    <table>
      <tr>
        <th>Date</th>
        <th>Name</th>
      </tr>
      {% for schedule in schedules %}
      <tr>
        <td>
          <a href="{{ schedule.id }}">
            {{ schedule.date }}
          </a>
        </td>
        <td>
          <a href="{{ schedule.id }}">
            {{ schedule.name }}
          </a>
        </td>
      </tr>
      {% endfor %}
  </body>
</html>
