<!DOCTYPE html>
<html>
  <head>
    <title>Verdandi - Schedules</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/schedules.js') }}"></script>
  </head>
  <body>
    <h1>Schedules</h1>
    <table>
      <tr>
        <th>Date</th>
        <th>Name</th>
      </tr>
      {% for schedule in schedules %}
      <tr>
        <td>
          <a href="{{ schedule.id }}">
            {{ schedule.date }}
          </a>
        </td>
        <td>
          <a href="{{ schedule.id }}">
            {{ schedule.name }}
          </a>
        </td>
        <td>
          <button onclick="delete_schedule({{ schedule.id }})">Delete</button>
        </td>
      </tr>
      {% endfor %}
    </table>
    <h2>Add schedule</h2>
    Date:<br/>
    <input id="date_input" type="text" name="date" placeholder="YYYY-MM-DD"><br/>
    Name:<br/>
    <input id="name_input" type="text" name="name" placeholder="Name"><br/>
    <button onclick="post_schedule()">Add</button>
  </body>
</html>
